/*Base Structure*/
#app_body,
#wrapper {
  max-width: none;
  padding: 0px 0px;
}

#app_body[style] {
  padding-left: 0px !important;
}

/* Into Sections*/
#application {
  padding: 0px;
  /*background-color: #FAFAFA;*/
  max-width: none;
}
#main_fields,
#custom_fields {
  background: black;
  color: white;
}

#content,
#main_fields,
#custom_fields,
#eeoc_fields {
  padding: 10rem 10rem;
  max-width: 100vw;
}

#main hr {
  display: none;
}

#submit_buttons {
  text-align: center;
}
#main_fields div.field label,
#eeoc_fields div.field label {
  text-align: left;
}
