#scroller {
  /* width: calc(100% + 100px);*/
}

.overflow-hidden {
  overflow: hidden !important;
}

.team-card__img {
  filter: url(#round);
}
.team-img {
  clip-path: polygon(0% 0%, 86% 0%, 100% 10%, 100% 100%, 0% 100%, 0% 50%);
}
